body {
    background-color: #f0f0f0;
  }
  
.mainContainer {
    padding: 20px;
}

.grid-border {
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 80px;
}

.chat-box {
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: auto;
}

.messages-box {
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: auto;
}

.user-list {
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    height: 100px;
}

.user-list:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.sent-button:hover {
    cursor: pointer;
    background-color: lightblue;
}

.emoji-picker {
    overflow: visible;
    z-index: 1;
    margin-top: -380px;
}

.message-sender {
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 10px;
}

.message-receiver {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: lightblue;
    padding-right: 100px;
    margin-left: 50px;
    margin-right: 50px;
}