body {
    background-color: #f0f0f0;
  }
  
.mainContainer {
    padding: 20px;
}

.grid-border {
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 80px;
}

.chat-box {
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: auto;
    height: 810px;
}

.chat-container {
    height: 810px;
}

.messages-box {
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: auto;
}

.user-list {
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    height: 100px;
}

.user-list:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.emoji-picker {
    overflow: visible;
    z-index: 1;
    margin-top: -380px;
}

.message-sender {
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 10px;
    word-wrap: break-word;
    max-width: 100%;
}

.message-receiver {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: lightblue;
    padding-right: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    word-wrap: break-word;
    max-width: 100%;
}

.emoji-button:hover {
    cursor: pointer;
    background-color: lightblue;
}

.button-hover:hover {
    cursor: pointer;
    background-color: lightblue;
}

.send-button:hover {
    cursor: pointer;
    background-color: lightblue;
}

@media (min-width: 1200px) {
    .hide-logout-item-extra {
        display: none;
    }
}

@media (max-width: 1199px) {
    .hide-names {
        display: none;
    }

    .chat-container {
        height: 300px;
    }

    .chat-box {
        height: 500px;
    }

    .messages-box {
        height: 400px;
    }

    .send-button {
        margin-left: -50px;;
    }
    
}

@media (max-width: 899px) {
    
}

@media (max-width: 599px) {
    .emoji-button {
        margin-left: -35px;
    }

    .emoji-picker {
        margin-left: 40px;
    }
}